/** Global *******************************************/

$nord0:   #2e3440;
$nord1:   #3b4252;
$nord2:   #434c5e;
$nord3:   #4c566a;
$nord4:   #d8dee9;
$nord5:   #e5e9f0;
$nord6:   #eceff4;
$nord7:   #8fbcbb;
$nord8:   #88c0d0;
$nord9:   #81a1c1;
$nord10:  #5e81ac;
$nord11:  #bf616a;
$nord12:  #d08770;
$nord13:  #ebcb8b;
$nord14:  #a3be8c;
$nord15:  #b48ead;

*{
	all: unset;
	font-family: feather;
	font-family: "FiraCode Nerd Font";
	color: #d8dee9;
}

/** Bar ***********************************/
.dockbox {
  background: radial-gradient(circle at 50% 50%,$nord3,$nord1 );
  background-color: $nord0;
	border-radius: 12px;
  border: 1px solid $nord7;
  opacity: 0.95;
}

.appicon {
    background-repeat: no-repeat;
	background-size: 40px;
	min-height: 40px;
	min-width: 40px;
}

.clockbox {
	margin : 0px 0px 0px 15px;
}

.time {
	font-size : 14px;
	font-weight : bold;
}

.date {
	font-size : 11px;
	// font-weight : bold;
}

/** System *************************************************/
.trayicon {
  background-repeat: no-repeat;
	background-size: 24px;
	min-height: 24px;
	min-width: 24px;
	margin: 8px 0px 0px 0px;
}

.infotext {
  color: $nord4;
	border-radius: 16px;
	font-size : 14px;
	padding: 0px 5px 0px 5px;
	margin: 10px 0px 10px 0px;
	font-weight : bold;
}

.face {
	background-size: 24px;
	min-height: 24px;
	min-width: 24px;
	margin: 8px 0px 8px 0px;
	border-radius: 100%;
}

/** EOF *************************************************/
